@font-face {
    font-family: "Roboto" ;
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoBold" ;
    src: url("../font/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
body{
    overflow-x: hidden;
    font-family: "Roboto" ;
    font-size: 16px;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.product-page{
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 30px;
    column-gap: 30px;
}
.product-info{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 30px;
}
.product-name{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.product-description{
    text-align: justify;
}
.product-images{
    max-width: 33%;
    height: auto;
}
.slider-big{
    height: auto;
    max-width: 100%;
}
.slider-big-item{
    height: auto;
    max-width: 100%;
}
.slider-big-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.slider{
    height: auto;
    width: 100%;
    margin-top: 30px;
}
.slider-item{
    width: 33%;
    height: auto;
}
.slider-item img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.slick-track{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slider{
    position: relative;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url("../img/prev.png") 0 0/ 100% no-repeat ;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url("../img/next.png") 0 0/ 100% no-repeat;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider ul{
    padding: 0;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0  10px;
    padding: 0;
}
.slider .slick-dots button{
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 7px;
    height: 7px;
    background-color: lightgrey;
    border-radius: 50%;
    border: none;
    padding: 0;
}
.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 2px solid orange ;
}


