@charset "UTF-8";
@import "normalizecss.css";


@font-face {
    font-family: "Roboto" ;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoBold" ;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body{
    overflow-x: hidden;
    font-family: "Roboto" ;
    font-size: 20px;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
    outline: none;
    color: #fff;
}
img{
    display: block;
    max-width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
input, button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button:hover , a:hover {
    cursor: pointer;
}

h1{
    margin-bottom: 30px;
}
.heading{
    padding: 70px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    vertical-align: center;
}
.heading span{
    letter-spacing: 10px;
}
.container{
    padding: 20px;
    background-color: rgb(240, 240, 245);
}


ul li {
    position:relative;
    list-style-type: none;
    width: 6px;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
}

ul li::after {
    background: white;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
}


ul li div{
    position: relative;
    width: 400px;
    padding: 25px;
    border-radius: 5px;
    bottom: 0;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

ul li:nth-child(odd) div {
    left: 45px;
}

ul li:nth-child(even) div {
    left: -445px;
}

time {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}
a {
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
}
a:hover{
    background-color: #fff;
    color: #000;
}
p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
img{
    margin: 20px 0;
    max-width: 60%;
    height: auto;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    ul li div {
        width: 250px;
    }
    ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}